<template>
  <q-page class="flex flex-center">
    <h1 @click="addToSomewhere">HA</h1>
  </q-page>
</template>

<style>
</style>

<script>
import app from '../router/firebaseApp.js'
const db = app.firestore()

let subjectName = 'ddasd'
let teacherUid = 'hgQs74DvtseBIjbOMqWzxgYmzv13'
const docRef = db.collection(subjectName).doc(teacherUid)
let initialStud = docRef.get('students')
const id = app.auth().currentUser
initialStud += ', ' + id

export default {
  methods: {
    addToSomewhere () {
      return db.collection(subjectName).doc(id).update({
        students: initialStud
      })
        .then(() => {
          alert('created')
        })
    }
  }
}
</script>
