<template>
 <q-page  class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card">
      <q-card-section class="bg-blue text-white">
        <div class="text-h6">Add Subject</div>
        <div class="text-subtitle2"></div>
      </q-card-section>

      <q-card-actions align="around">
        <q-btn flat @click="create">CREATE</q-btn>
      </q-card-actions>
    </q-card>

      <q-card class="my-card">
      <q-card-section class="bg-blue text-white">
        <div class="text-h6">DIFFERENTIAL CALCULUS </div>
        <div class="text-subtitle2"></div>
      </q-card-section>

      <q-card-actions align="around">
        <q-btn flat>OPEN</q-btn>
      </q-card-actions>
    </q-card>
    <q-card class="my-card">
      <q-card-section class="bg-blue text-white">
        <div class="text-h6"> SOFTWARE DEVELOPMENT </div>
        <div class="text-subtitle2"></div>
      </q-card-section>
      <q-card-actions align="around">
        <q-btn flat>OPEN</q-btn>
      </q-card-actions>
    </q-card>

  </q-page>
</template>

<style>
</style>

<script>
import app from '../router/firebaseApp'
const db = app.firestore()
const id = app.auth().currentUser

export default {
  name: 'PeopleView',
  data () {
    return {
      pipol: [

      ]
    }
  },
  methods: {
    onCreate () {
      alert(id.uid)
      return db.collection(this.courseName).doc(id.uid).set({
        courseName: this.courseName,
        courseDescription: this.courseDescription,
        students: ''
      })
        .then(() => {
          alert('created')
        })
    },
    create () {
      this.$router.push('/createcourse')
    }
  }
}
</script>
