<template>
  <q-page>
    <div>COURSE NAME<input v-model="courseName"></div><br/>
    <div>COURSE DESCRIPTION<input v-model="courseDescription"></div><br>
    <button @click="onCreate">CREATE COURSE</button>
  </q-page>
</template>

<style>
</style>

<script>
import app from '../router/firebaseApp'
const db = app.firestore()
const id = app.auth().currentUser

export default {
  data () {
    return {
      courseName: '',
      courseDescription: ''
    }
  },
  methods: {
    onCreate () {
      return db.collection(this.courseName).doc(id.uid).set({
        courseName: this.courseName,
        courseDescription: this.courseDescription,
        students: ''
      })
        .then(() => {
          alert('created')
        })
    }
  }
}
</script>
