<template>
  <div class="q-pa-md row items-start q-gutter-md">

    <q-card class="my-card">
      <q-card-section class="bg-blue text-white">
        <div class="text-h6">Differential Equations</div>
        <div class="text-subtitle2"></div>
      </q-card-section>

      <q-card-actions align="around">
        <q-btn flat>Go to course</q-btn>
      </q-card-actions>
    </q-card>

     <q-card class="my-card">
      <q-card-section class="bg-blue text-white">
        <div class="text-h6">Software Development</div>
        <div class="text-subtitle2"></div>
      </q-card-section>

      <q-card-actions align="around">
        <q-btn flat>Go to course</q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<style lang="stylus" scoped>
.my-card
  width 100%
  max-width 250px
  color blue
</style>

<script>
export default {
  data () {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    }
  }
}
</script>
