<template>
  <q-page class="flex flex-center">
      <input type="file" @change="onFileSelected">
      <button @click="onUpload">Upload</button>
      <img v-bind:src="source">
  </q-page>
</template>

<style>
</style>

<script>

import app from '../router/firebaseApp'
const storage = app.storage()

export default {
  name: 'PageUpload',
  data () {
    return {
      selectedFile: null,
      source: 'https://www.medicalnewstoday.com/content//images/articles/322/322868/golden-retriever-puppy.jpg'
    }
  },
  methods: {
    onFileSelected (event) {
      this.selectedFile = event.target.files[0]
    },
    onUpload () {
      const storageRef = storage.ref(`/images/${this.selectedFile.name}`)
      storageRef.put(this.selectedFile).then((snapshot) => {
        storageRef.getDownloadURL().then((url) => {
          console.log(url)
          this.source = url
          alert('Changing pic')
        })
      })
    }
  }
}
</script>
