<template>
  <q-page class="flex flex-center">
    <a href="http://localhost:8080/#/People"><button style="width:100px; height:50px">HAKDOG</button></a>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex'
}

</script>
