<template>
  <q-page class="flex flex-center">
    <div class="login-div">
    <div>EMAIL<input v-model="email"></div><br>
    <div>PASSWORD<input v-model="password"></div>
    <button @click="onLogIn">Log In</button>
    </div>
  </q-page>
</template>

<style>
</style>

<script>

import app from '../router/firebaseApp'

export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    onLogIn () {
      app.auth().signInWithEmailAndPassword(this.email, this.password)
        .then(() => {
          this.$router.push('/People')
          alert('Successfully logged in')
        })
        .catch((e) => {
          alert('error' + e.message)
        })
      if (app.auth().currentUser != null) {
        this.$router.push('/Dashboard')
      }
    }
  }
}
</script>
