<template>
  <q-page class="flex flex-center">
    HELLO, {{ x }}
</q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'LogoutView',
  data () {
    return {
      x: 'Logout Page'
    }
  }
}
</script>
