<template>
  <q-page class="flex flex-center">
    <div class="login-div">
    <div>FIRSTNAME<input v-model="firstName"></div>
    <div>LAST NAME<input v-model="lastName"></div>
    <div>EMAIL<input v-model="email"></div>
    <div>PASSWORD<input v-model="pass"></div>
    <span>SIGN UP AS</span><br/>
    <input type="radio" id="teacher" value="teacher" v-model="picked">
    <label for="Teacher">Teacher</label>
    <input type="radio" id="student" value="student" v-model="picked">
    <label for="Student">Student</label><br/>
    <button @click="signup">SIGN UP</button>
    <p @click="signIn">Already have an account? Sign in!</p>
    </div>
  </q-page>
</template>

<style>
</style>

<script>

import app from '../router/firebaseApp'
const db = app.firestore()

export default {
  name: 'register',
  data () {
    return {
      firstName: '',
      lastName: '',
      email: '',
      pass: '',
      picked: ''
    }
  },
  methods: {
    signup () {
      app.auth().createUserWithEmailAndPassword(this.email, this.pass)
        .then((credentials) => {
          return db.collection(this.picked).doc(credentials.user.uid).set({
            firstName: this.firstName,
            lastName: this.lastName,
            email: this.email,
            pass: this.pass
          })
        })
        .then(() =>
          alert('created')
        )
        .catch((e) => {
          alert('error' + e.message)
        })
      if (app.auth().currentUser != null) {
        this.$router.push('/Dashboard')
      }
    },
    signIn () {
      this.$router.push('/login')
    }
  }
}

</script>
