<template>
  <q-page class="flex flex-center">
    <ul>
      <li v-for="person of pipol" v-bind:key="person.id">
        {{person.lastName}}, {{person.firstName}}
      </li>
    </ul>
  </q-page>
</template>

<style>
</style>

<script>
import app from '../router/firebaseApp'
const db = app.firestore()

export default {
  name: 'PeopleView',
  data () {
    return {
      pipol: [

      ]
    }
  },
  mounted () {
    db
      .collection('Pipol')
      .get()
      .then(snapshot => {
        snapshot.forEach(document => {
          const person = document.data()
          person.id = document.id
          this.pipol.push(person)
        })
      })
  }
}
</script>
