body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

input,
button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#login,
#signup {
    background: url(backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.app-name {
    color: #296d98;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    font-weight: 700;
}

.login-div,
.loggedin-div {
    border-radius: 10px;
    background: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
}

.login-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.login-div input:focus {
    border: 1px solid #777;
}

.login-div button,
.loggedin-div button {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin-bottom: 20px;
}

.login-div button:hover,
.loggedin-div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}

.createAccount {
    background: whitesmoke;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;
    width: 20%;
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 15px;
    padding: 20px;
}

.createAccount input:focus {
    border: 1px solid #777;
}

.createAccount input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    outline: none;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.radio-div {
    color: #296d98
}

.submit {
    background: #fff;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 15%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.submit:hover {
    background: #fff;
    color: #0F52BA;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}