<template>
  <q-page class="flex flex-center">
    <q-card inline class="absolute-bottom-right">
      <q-card-main>
            <div style="width: 100%; max-width: 400px">
      <q-chat-message
        name="me"
        avatar="https://cdn.quasar.dev/img/avatar4.jpg"
        :text="['hey, how are you?']"
        sent
        stamp="7 minutes ago"
      />
      <q-chat-message
        name="Jane"
        avatar="https://cdn.quasar.dev/img/avatar3.jpg"
        :text="[`doing fine, how r you?`]"
        stamp="4 minutes ago"
      />
        <q-chat-message
        name="me"
        avatar="https://cdn.quasar.dev/img/avatar4.jpg"
        :text="['good. i have a question']"
        sent
        stamp="2 minutes ago"
      />
        <q-chat-message
        name="Jane"
        avatar="https://cdn.quasar.dev/img/avatar3.jpg"
        :text="[`...`]"
        stamp="typing"
      />
    </div>
      </q-card-main>
    </q-card>

    <input type="file" @change="onFileSelected">
      <button @click="onUpload">Upload</button>
      <img v-bind:src="source">
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'HomeView',
  data () {
    return {
      x: 'Home Page'
    }
  }
}
</script>
